// FIXME should use normalize.scss version instead
// but I got some errors so I don't want to spend too much time here now.
@import "../assets/normalize.scss";

// injector
// endinjector

$fa-font-path: "../../bower_components/fontawesome/fonts";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";

@import "../../bower_components/angular-tooltips/dist/angular-tooltips";

$iron: #ccc;

.type-select {
  width: 60px;
}

.vgspec, .vlspec {
  min-height: 100px;
}

null-filter-directive {
  display: block;
  margin-bottom: 10px;
}

/** panes **/

.pane.encoding-pane {
  width: 100%;
  flex-shrink: 0;
}

.pane.data-pane {
  width: 200px;
  flex-shrink: 0;
}

.pane.vis-pane{
  flex-grow: 1;
}

.pane.config-pane {
  flex-grow: 0.6;
}

.pane.vl-pane {
  flex-grow: 1;
}

.pane.vg-pane {
  flex-grow: 1.2;
}

#vis {
  @extend .persist-scroll;
  overflow: scroll;
}

.vis-pane .card {
  background-color: #FFF;
}

/** Override vega-lite-ui css for polestar **/

.field-info.pill {
  background-color: #FFF;
  font-weight: 500;
}

.field-info.ui-draggable-dragging {
  min-width: 150px;
  width: auto;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  color: #FFF;
  background-color: #69be28;
  .info {
    display: none;
  }
}

body {
  background-color: #FFF;
}

.card {
  background-color: #EEE;
}