<div class="card scroll-y">
  <div class="shelf-pane shelf-encoding-pane full-width">
    <h2>Positional</h2>
    <field-def-editor enc-type="'x'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.x">
    </field-def-editor>
    <field-def-editor
      enc-type="'y'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.y">
    </field-def-editor>
    <field-def-editor enc-type="'col'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.col">
    </field-def-editor>
    <field-def-editor enc-type="'row'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.row">
    </field-def-editor>
  </div>
  <div class="shelf-pane shelf-marks-pane full-width">
    <a class="right"  ng-click="clear()"><i class="fa fa-trash-o"></i> Clear</a>
    <h2>Marks</h2>

    <field-def-editor enc-type="'size'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.size">
    </field-def-editor>
    <field-def-editor enc-type="'color'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.color">
    </field-def-editor>
    <!-- <field-def-editor enc-type="'alpha'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.alpha">
    </field-def-editor> -->
    <field-def-editor enc-type="'shape'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.shape">
    </field-def-editor>
    <field-def-editor enc-type="'detail'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.detail">
    </field-def-editor>
    <field-def-editor enc-type="'text'"
      enc="Spec.spec.encoding"
      marktype="Spec.spec.marktype"
      field-def-schema="schema.properties.encoding.properties.text">
    </field-def-editor>
  </div>

  <!-- <div class="shelf-pane shelf-config-pane full-width">
    <h3>Config</h3>
    <null-filter-directive></null-filter-directive>
  </div> -->
</div>